@import url('https://fonts.googleapis.com/css?family=Abel|Oswald:700|Yellowtail|Patrick+Hand');
#logo {
    float: left;
    padding-bottom: 25px;
    color: black;
    text-decoration: none;
  }
  
  #logo img {
    float: left;
  }
  
  #logo h1 {
    padding-left: 50px;
    font-family: 'Yellowtail', cursive;
    font-size: 2.4em;
  }
  
  #slogan {
    width: 250px;
    padding-left: 55px;
    color: #a3a4a2;
    font-family: 'Abel', sans-serif;
    font-size: .65em;
    text-transform: uppercase;
  }

  .print, .date {
    color: #a9a8a5;
    font-family: 'Abel', sans-serif;
    font-size: .8em;
    margin: 0;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 33px;
  }

  main p {
    color: #333;
    font-size: 1.2em;
    line-height: 1.3em;
    text-indent: 30px;
    margin: 20px 0px;
  }

  
aside button {
    float: right;
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
    padding: 15px 40px;
    background: #b8705a;
    color: #fff;
    font-size: 1.2em;
    border: none;
  }
}